

<template>
    <div id="todo-list-example" class="container">
        <div class="row">
            <multiselect v-model="selected_val" :options="options" @input="dispatchAction"></multiselect>
            <div  class="col-md-6 mx-auto">
                <h1 class="text-center">{{this.title}}</h1>
                <flash-message transitionIn="animated fade" class="myCustomClass"></flash-message>
                <form v-on:submit.prevent="addNewTask">
                    <label for="tasknameinput">Task Name</label>
                    <input v-model="taskname" id="tasknameinput" class="form-control" placeholder="Add New Task">
                    <label for="tasknameinput">Task Value</label>
                    <input v-model="taskvalue" id="taskvalueinput" class="form-control" placeholder="Add Task Value">
                    <button v-if="this.isEdit == false" type="submit" class="btn btn-success btn-block  mt-3">
                        Submit
                    </button>
                    <button v-if="this.isEdit == true" type="button" v-on:click="updateTask()" class="btn btn-primary btn-block  mt-3">
                        Update
                    </button>
                    <button v-if="this.isEdit == true" type="button" v-on:click="CancelUpdate()" class="btn btn-primary btn-block  mt-3">
                        Cancel
                    </button>
                </form>

                    <table v-show="this.selected_val == 'show'" class="table">
                    <tr v-for="(todo) in todos" v-bind:key="todo.id" v-bind:task_name="todo.name">
                        <td class="text-left">{{todo.name}}</td>
                        <td class="text-left">{{todo.value}}</td>
                        <td class="text-right">
                            <button v-on:click="editTask(todo.name,todo.value,todo.id)" class=" btn btn-info ">Edit</button>
                            <button v-on:click="deleteTask(todo.id)" class=" btn btn-danger ">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: ['title'],
        data () {
            return {
                todos: [],
                id: '',
                taskname: '',
                taskvalue: '',
                isEdit: false,
                selected_val:null,
                options:['show','not_show','fomulario']
            }
        },
        mounted () {
           // this.getTasks()
        },
        methods: {
            getTasks () {
                axios({ method: 'GET', url: 'title/index' }).then(
                    result => {
                        console.log(result.data)
                        this.todos = result.data
                        this.flash('Data Cargada', 'success', {
                            timeout: 3000
                        })
                             },
                    error => {
                        console.error(error)
                        this.flash('Error cargando informacion', 'error', {
                            timeout: 3000
                        })
                    }
                )
            },
            addNewTask () {
                axios.post('title/store',
                    { name:  this.taskname,
                      value: this.taskvalue }
                ).then((res) => {
                    this.taskname  = ''
                    this.taskvalue = ''
                    this.flash('Titulo creado correctamente', 'success', {
                        timeout: 3000
                    });
                    this.getTasks()
                    console.log(res)
                }).catch((err) => {
                    console.log(err)
                })
            },
            editTask (title,value,id) {
                this.id = id
                this.taskname  = title;
                this.taskvalue = value;
                this.isEdit = true
            },
            CancelUpdate () {
                this.id = ''
                this.taskname  = '';
                this.taskvalue = '';
                this.isEdit = false
            },
            updateTask () {
                axios.put('title/edit',
                    {  name : this.taskname,
                          id:this.id,
                       value:this.taskvalue
                    }
                ).then((res) => {
                    this.taskname  = ''
                    this.taskvalue = ''
                    this.isEdit = false
                    this.getTasks()
                    console.log(res)
                }).catch((err) => {
                    console.log(err)
                })
            },
            deleteTask (id) {
                axios.delete(`title/delete/${id}`
                ).then((res) => {
                    this.taskname = ''
                    this.taskvalue= ''
                    this.getTasks()
                    this.flash('Titulo eliminado', 'warning', {
                        timeout: 3000
                    })
                    console.log(res)
                }).catch((err) => {
                    console.log(err)
                })
            },
            dispatchAction (actionName) {
                switch (actionName) {
                    case 'show':
                       this.getTasks();
                        break
                    case 'console.log':
                        console.log('You just dispatched "console.log" action!')
                        break
                    case 'scrollTop':
                        window.scrollTo(0, 0)
                        break
                }
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>